@media screen and ((max-width: 767px) or (display-mode:standalone)) {
    nav {
        display: flex;
        /* padding: 0 2rem; */
        /* margin-bottom: 2rem; */
        flex-basis: 100%;
        justify-content: space-evenly;
    }

    .app-navbar {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        min-height: 4em;
        /* padding: 0 2rem; */
        /* max-height: 5em; */
        display: flex;
        align-items: center;
        padding-bottom: calc(env(safe-area-inset-bottom, 0.3rem));
        position: fixed;
        background-color: var(--background-color);
        bottom: 0;
        left: 0;
    }

    .desktop-navbar {
        display: none;
    }
}

@media screen and ((min-width: 768px) or (display-mode:browser)) {
    .app-navbar {
        display: none;
    }
    .desktop-navbar {
        background-color: red;
        width: 100%;
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
        min-height: 4em;
        /* padding: 0 2rem; */
        /* max-height: 5em; */
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: calc(env(safe-area-inset-bottom, 0.3rem));
        /* position: fixed; */
        background-color: var(--background-color);
        /* top: 0;
        left: 0; */
    }
}

.nav-container {
    width: 100%;
}

.nav-item {
    color: var(--main-text-color);
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    text-align: center;
    /* font-style: italic; */
    font-weight: normal;
}

.nav-item > .material-icons {
    /* display: none; */
    font-size: 2rem;
}

.nav-item > .material-symbols-outlined {
    /* display: none; */
    font-size: 2rem;
}

.nav-text {
    font-size: 0.7rem;
    text-align: center;
    padding: 0.2rem 0;
}

.nav-item-desktop > .nav-text {
    display: flex;
    flex-direction: row;
    font-size: large;
    justify-content: space-between;
}

.nav-item-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
}

.nav-item-desktop > .material-symbols-outlined {
    display: none;
}
