.video-responsive {
    overflow: hidden;
    /* padding-bottom: 56.25%; */
    padding-bottom: 106.25%;
    position: relative;
    height: 0;
}

.video-responsive iframe {
    left: 1rem;
    top: 0;
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    /* padding: 0.5rem; */
    position: absolute;
    border-radius: 10px;
}
