.sign {
    display: flex;
    flex-direction: column;
    /* max-width: 80vw; */
    height: 100%;
    justify-content: space-between;
    margin: auto;
    padding: 1rem 1rem;
    box-sizing: border-box;
}

.sign-phrase {
    text-align: center;
    font-weight: 700;
}

.alternate-videos {
    display: flex;
    flex-direction: row;
}

.alternate-video {
    display: block;
    flex-basis: 80%;
    height: auto;
    /* width: 80%; */
    margin: auto;
}

.sign-info {
    padding: 0rem 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.sign-info-item {
    padding: 0.5rem 0.5rem;
    /* flex-basis: 50%; */
    text-align: left;
}